<ion-header [translucent]="true">
  <ion-toolbar color="main">
    <ion-title><ion-img id="icon" src="../../assets/icon/icon_trans.png"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-img [src]="image_1"></ion-img>
  </div>
  <div class="ion-padding">
    <ion-img [src]="image_2"></ion-img>
  </div>
  <div class="ion-padding">
    <ion-img [src]="image_3"></ion-img>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="information_flag">
    <ion-fab-button color="positive" (click)="newGood()">
      <ion-icon name="heart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="information_flag">
    <ion-fab-button color="negative" (click)="deleteGood()">
      <ion-icon name="trash-bin-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="!information_flag">
    <ion-fab-button color="main" (click)="getUser()">
      <ion-icon name="reload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- GPS & Alert test -->
  <!--
  <form>
    <ion-button (click)="onGps()">
      GPS TEST
    </ion-button>
  </form>
  -->
</ion-content>
