<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-back-button id="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full" class="ion-padding-bottom">
    <ion-label position="stacked">ユーザID</ion-label>
    <ion-input required type="text" [(ngModel)]="matched_id" name="matched_id" disabled></ion-input>
    <ion-label position="stacked">年齢</ion-label>
    <ion-input required type="number" [(ngModel)]="age" name="age" disabled></ion-input>
    <ion-label position="stacked">性別</ion-label>
    <ion-input required type="text" [(ngModel)]="gender" name="gender" disabled></ion-input>
    <ion-label position="stacked">学校名</ion-label>
    <ion-input required type="text" [(ngModel)]="school" name="school" disabled></ion-input>
    <ion-label position="stacked">自己紹介文</ion-label>
    <ion-textarea required [(ngModel)]="profile" name="profile" disabled></ion-textarea>
  </ion-item>

  <ion-button expand="block" color="main" (click)="getSNS()">SNSの情報を取得</ion-button>

  <div class="ion-padding">
    <ion-img [src]="image_1"></ion-img>
  </div>
  <div class="ion-padding">
    <ion-img [src]="image_2"></ion-img>
  </div>
  <div class="ion-padding">
    <ion-img [src]="image_3"></ion-img>
  </div>
</ion-content>
